@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400; 
    src: url('assets/fonts/Noto_Sans_KR/static/NotoSansKR-Regular.ttf') format('truetype');
}

body, h1, h2, p {
    font-family: 'Noto Sans Korean', sans-serif;
}


body {
    overflow-x: hidden; 
    width: 100%; 
    position: relative;
    background-color: #b1c4d8;
}

.navbar {
    background-color: #0757a7;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 600px;
    position: relative;
    z-index: 1000;
    margin-bottom: 20px;
}

.navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    position: fixed;
    top: 0px;
    background-color: #0757a7;
    right: 1px;
    max-width: 100%;
    
}

.navbar-toggler-icon {
    background-color: #0757a7;
    font-size: 0.3rem; 
    width: 0.3em;
}

.logo {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
}

.logo-img {
    width: 150px; 
    opacity: 0;
    transition: opacity 1s ease-in-out, width 1s ease-in-out;
    margin-top: 32px; 
}

.logo-img.loaded {
    opacity: 1;
    width: 200px; 
}

.collapse.navbar-collapse {
    position: fixed;
    top: 3rem; 
    left: 0;
    right: 0;
    background-color: #0757a7; 
    color: #fff;
    padding: 10px; 
    z-index: 0;
}

.navbar-nav {
    text-align: center;
    margin-top: 10px;
}

.navbar-nav a {
    color: #fff !important;
}

@media (min-width: 536px) {
    .navbar {
        height: 350px; 
    }
    .logo-img {
        margin-top: 15px;
        height: auto;
    }
    .collapse.navbar-collapse {
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        background-color: #0757a7; 
        color: #fff;
        padding: 10px; 
        z-index: 2; 
    }

    .navbar-toggler {
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        background-color: #fff;
        position: absolute;
        top: 5px;
        right: 3px;
    }
    .div.card-body{
        background-color: #0757a7;
        height:200px;
    }
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
  .card-img-top {
        height: 250px; 
    }
    .card.service-suspended .card-img-top {
        height: 300px; 
    }
   
    .navbar {
        height: 300px;
    }
    .logo-img {
        max-width: 90%;
        height: auto;
        margin-top: -20px;
    }

    .navbar-nav {
        margin-top: auto; 
        margin-left: auto; 
    }

    .nav-item {
        margin-left: 15px; 
    }
}

.about-section {
    background-color: #f8f9fa;
}

#about{
    background-color: #d2d5d8;
}

.about-us-title {
    color: #0757a7;
    background-color: #ecb22e;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-left: -20px; 
    margin-right: -12px;
}

.about-section p {
    color: #555; 
    font-size: 1.2em; 
    line-height: 1.6; 
}

@media (max-width: 768px) {
    .about-us-title {
        margin-top: 0;
    }
}

/* Contact Section */
.contact-section {
    background-color: #0757a7;
    color: #fff;
    padding: 60px 0;
    margin-top: 10px;
}

.contact-section h2,
.contact-section p {
    color: #fff;
}

#contact-form {
    max-width: 400px;
    margin: auto;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contact-form button {
    background-color: #fff;
    color: #0757a7;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0757a7;
    color: #fff;
}

/* General Section Styles */
.section {
    text-align: center;
}

/* Testimonial Carousel */
.testimonial-carousel {
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
}


#introduction {
    background-color: #043f79;
    color: #fff;
    text-align: center;
    margin-top: -20px;
}

.introduction-title {
    font-size: 1.5em; 
    font-weight: bolder;
}

.introduction-section p {
    font-size: 1.2em;
    line-height: 1.8; 
    margin: 0 auto; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.previous-work {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #0757a7;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.previous-work:hover {
    background-color: #053d6b;
}

/* Our Work Section */
.our-work-section {
    background-color: #f8f9fa; 
    padding: 30px 0; 
    text-align: center;
}

/* Our Work Section */
.our-work-section {
    background-color: #ffc107; 
    padding: 60px 0;
    text-align: center;
}

.our-work-title {
    color: #0757a7; 
    font-size: 2.5em; 
    margin-bottom: 30px; 
}

.our-work-section p {
    color: #555; 
    font-size: 1.3em;
    line-height: 1.8; 
    margin-bottom: 40px; 
}

.btn-primary {
    background-color: #e44d26; 
    color: #fff;
    padding: 12px 24px; 
    text-decoration: none;
    border-radius: 8px; 
    border: 2px solid #e44d26;
    transition: background-color 0.3s ease-in-out; 
}

.btn-primary:hover {
    background-color: #053d6b; 
    border-color: #053d6b; 
}

/* Services Section */
.services-section {
    background-color: lightgray;
    padding: 55px 0;
    text-align: center;
    margin-top: 10px;
}

.services-section h2 {
    color: #0757a7;
    margin-bottom: 20px;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.service-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.service-item h2 {
    color: #0757a7;
    margin-bottom: 15px;
}

.service-item p {
    color: #555;
}

/* General Section Styles */
.section {
    text-align: center;
}
/* Testimonial Carousel */
.testimonial-carousel {
    max-width: 800px;
    margin: auto;
}

/* Bootstrap Overrides */
.container-fluid {
    max-width: 1200px;
}

   /* Additional styles for the testimonials section */
.testimonials-section {
    background-color: #b1c4d8; 
    padding: 40px 0;
    text-align: center;
}

.testimonials-section h2 {
    color: #0757a7; 
    margin-bottom: 20px; 
}

.testimonial-item {
    background-color: #ffeeba; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.testimonial-item p {
    color: #333; 
}

.star-rating {
    color: #f39c12; 
}

.star {
    font-size: 1.5em;
}

.testimonial-author {
    color: #6c757d; 
    margin-top: 10px;
}
 /* Gallery Section Styles */
 .gallery-section {
    padding: 40px 0;
    text-align: center;
}

.gallery-title {
    color: #0757a7; 
    font-size: 2em; 
    margin-bottom: 20px; 
}

.gallery-item {
    display: inline-block;
    margin: 10px;
}

.gallery-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.faq{
    text-align: center;
    margin-top: 50px;
    color: #0757a7;
    background-color:#ecb22e;
    padding-top: 10px;
}

.faq-item {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-question {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #0757a7;
}

.faq-answer {
    font-size: 1em;
    color: #333;
}

 /* Additional styles for the contact section */
 .contact-section {
    text-align: center;
}

div.contact-reasons {
    text-align: center;
}
.contact-reasons {
    background-color: #ecb22e;  
    margin-bottom: -18px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: -20px;
    color: #ffff;
}

.contact-reasons p {
    font-size: 1.2em;
    margin: 5px;
    margin-bottom: 20px;
}

#contact-form{
    background-color: #0757a7;
    padding-bottom: 10px;
}

.follow-us {
    /* margin-top: 30px; */
    background-color: #6c757d;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: -10px;
}

.follow-us a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #0757a7; 
    font-size: 1.5em;
}

.follow-us a:hover {
    text-decoration: underline;
    color: #f8f9fa;
}

.follow-us p{
    margin:5px;
}

.phone-contact {
    /* margin-top: 30px; */
    background-color: #6c757d;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;

}

.phone-contact a {
    color: #fff; 
    text-decoration: none; 
    font-size: 1.5rem;
}

.phone-contact p {
    color: #fff; 
    text-decoration: none; 
    font-size: 1.5rem;
}


.phone-icon {
    color: #0757a7;
    font-size: 2em;
    margin-right: 10px;
}

.quote {
    background-color: #0757a7; 
    color: #fff; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #0757a7; 
    margin-bottom: 10;
}

.quote p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.quote footer {
    font-style: italic bold;
    color: #bfc1c4;
    margin-top: 10px;
}

/* Hover effect for the quote */
.quote:hover {
    background-color: #ecb22e; 
    border-color: #0757a7; 
}

/* Our Services Section Styles */
.our-services-section {
    background-color: #ffc107; 
    padding: 10px 0; 
    text-align: center;
}

.our-services-title {
    color: #0757a7; 
    font-size: 2.5em; 
    margin-bottom: 10px; 
}

.card {
    border: none; 
    transition: transform 0.3s ease-in-out; 
    flex-grow: 1; 
    height: 100%; 
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05); 
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.card-body {
    padding: 20px;
    flex-grow: 1;
}

.card-title {
    color: #0757a7; 
    font-size: 1.8em; 
    margin-top: 10px; 
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    background-color: #0757a7;
    color: #fff; 
    text-decoration: none; 
    border-radius: 8px; 
    transition: background-color 0.3s;
}



.card.service a:hover {
    background-color: #0056b3; /* Change background color on hover */
}

@media (max-width: 576px) {
    .card {
        margin-bottom: 20px; 
    }
    #introduction {
        padding-top: 10px;    }
}

.card.service-suspended .card-img-top {
    height: 200px; 
}

/* Additional styling for larger screens */
@media (min-width: 768px) {
    .card-img-top {
        height: 200px; 
    }
    .card.service-suspended .card-img-top {
        height: 225px;
    }
    #introduction {
        margin-top: -20px;
    }
    #introduction {
        background-color: #043f79;
        color: #fff;
        text-align: center;
        /* border-top: 5px solid #ecb22e;  */
        padding-top: 10px;
    }
    .logo-img{
        margin-left: -920px;
        height:200px;
    }
}

@media (min-width: 992px) {
    .card-img-top {
        height: 250px; 
    }
    .card.service-suspended .card-img-top {
        height: 300px; 
    }
    #introduction {
        margin-top: 60px;
    }
}

@media (min-width: 736px) {
    .logo-img {
        width: 550px; 
        max-width: none; 
    }
    .navbar{
        height: 200px;
    }
    
}

.footer {
    background-color: #043f79; 
    color: #fff; 
    padding: 20px; 
    text-align: center;
}

.footer-text {
    font-size: 1.2em; 
}

.footer-business-name {
    font-weight: bold; 
    font-size: 1.5em; 
    color: #2ebcec; 
}

#intro {
    background-color: #043f79;
    color: #ffff;
    padding: 60px 0;
    text-align: center;
    margin-top: -20px;
    border-top: 2px solid #ecb22e;
}

#intro h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#intro p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

#cookie-consent {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#cookie-consent p {
    margin: 0;
}

#cookie-consent button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #0757a7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cookie-consent button:hover {
    background-color: #053d6b;
}


